{% extends "base.html" %}

{% block main %}
    <!-- <h1 class="display-5 fw-bold">Properties</h1> -->

    {% include 'flash_messages.html' %}

    <div class="property">

        <img src="{{ url_for('get_image', filename=property.img) }}">
    
        <div class="property-info">
            <h3 class = "prop-title">{{ property.title }}</h3>
    
            <div class="price-type">
                <p class="price">${{ property.price }}</p>
                <p class="type">{{ property.prop_type }}</p>
            </div>
    
            <div class = "description">
                <p>{{ property.descript }}</p>
            </div>
            
            <div class="rooms">
                <div class="bedrooms">
                    <i class="fa-solid fa-bed"></i>
                    <p>{{ property.room_no }} Bedrooms</p>
                </div>
                <div class="bathrooms">
                    <i class="fa-solid fa-bath"></i>
                    <p>{{ property.bath_no }} Bathrooms</p>
                </div>
            </div>
    
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>{{ property.location }}</p>
            </div>
    
            <button class="btn btn-primary" >Email Realtor</button>
        </div>
    
    </div>

{% endblock %}